.clock {
  position: relative;
  height: 3em;
  width: 3em;
  border: 0.1em solid rgba(255, 255, 255, 0.1);
  border-right-color: yelow;
  border-radius: 50%;
  background: transparent;
  z-index: 10;
  animation: rgb 12s steps(12) infinite;
}

.clockofclocks{
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
}

@keyframes rgb {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.clock::after {
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 0.4rem;
  background: yellow;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0.125rem yellow;
}

.hand {
  height: 0.1rem;
  width: 50%;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
  rotate: 0deg;
  border-radius: 2em;
  transition: all 0.25s cubic-bezier(0.375, 0.885, 0.32, 1.275);
  box-shadow: 0 0 0.125rem yellow;
}
.hand:nth-child(1) {
  width: 40%;
}

.hand::before {
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);

  
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  
  border-left: 5px solid yellow;
}

.digit {
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
  gap: 0.125rem;
}

.digit:nth-child(3),.digit:nth-child(4){
  filter: hue-rotate(60deg);
}

.digit:nth-child(5),.digit:nth-child(6){
  filter: hue-rotate(120deg);
}

/* mobile */
@media (max-width: 768px) {
  .clock {
    height: 2em;
    width: 2em;
  }
}
